:root{
    --width: 300px;
    --padding: 10px;
    --bgcolor:rgb(52,52,52);
    --hovercolor:rgb(23,23,23);
    --width-collapsed:45px;
    --primary-font-family: 'Questrial', sans-serif;
    --second-font-family: 'Kanit', sans-serif;
}


body{
    background-color: #032c55;
    font-family: var(--primary-font-family);
    font-size: 18px;
    padding: 0;
    margin: 0;
    margin-left: var(--width-collapsed);
}


.body-expanded{
    margin-left: var(--width);
}

.main-container{
    color: white;
}

.sidemenu{
    background-color: var(--bgcolor);
    color: white;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
}

.sidemenu a{
   color: white;
   text-decoration: none;
}

/* Header */

.header{
    box-sizing: border-box;
    border-bottom: solid 1px var(--hovercolor);
}

.header .title{
    box-sizing: border-box;
    overflow: hidden;
}

.header .title, .menu-btn{
    vertical-align: middle;
}

.menu-btn{
    display: inline-block;
    cursor: pointer;
    width: var(--width-collapsed);
    box-sizing: border-box;
    padding: 5px;
}

.menu-btn:hover{
  background-color: var(--hovercolor);
}

.btn-hamburger{
    background-color: #fff;
    width: 100%;
    height: 2px;
    margin: 5px 0;
}


/* Profile */

.profile{
    border-bottom: solid 1px var(--hovercolor);
    padding: var(--padding) 0;
    text-align: center;
}

.photo{
    box-sizing: border-box;
    padding: var(--padding);
    margin: 0 auto;
}

.photo img{
  
    width: 60%;
}

.photo, .name{
    font-size: 24PX;
        padding: var(--padding) 0;
        overflow: hidden;
}

/* Item */

.menu-item{
    overflow: hidden;
}



.menu-item .item{
    width: var(--width);
}

.menu-item .item .icon{
    display: inline-block;
}

.icon, .title {
    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
    color: #cdc7f0;
}

.btn-submenu .title{
    color: #cdc7f0;
}





.item a:hover {
    background-color: var(--hovercolor);
}

.item .btn-submenu:hover{
    background-color: var(--hovercolor);
}

.icon{
    box-sizing: border-box;
    padding: var(--padding);
    width: 50px;
}

.icon img{
    width: 100%;
}

.item .title{
    padding: var(--padding) 0;
}

.menu-collapsed:hover{
    width: var(--width);
    box-shadow: 0 0 1px rgba(0, 0, 0, 5);
    
}

.menu-collapsed:hover .header .title {
    display: inline-block;
    width:calc(100% - 50px);
    margin-right: -px;

}


.menu-collapsed:hover .header .title span {
    width: calc(var(--width) - var(--width-collapsed) - 5px);
    overflow: hidden;
    display: inline-block;
}


.menu-collapsed:hover .profile .photo{
    width: 200px;
}

.menu-collapsed:hover .profile .name{
    width: 100%;
    display: inline-block;
    font-family: var(--second-font-family);
    font-weight: bold;

}


.menu-collapsed{
    width: var(--width-collapsed);
}


.menu-collapsed .header .title{
    width:0 ;
    height: 0;
    padding: 0;
    margin: 0;
}

.menu-collapsed .profile .name{
    display: none;
}

.menu-collapsed .menu-items .item .title{
  display: none;
}

.subMenuElements{
    width: 100px;
    text-decoration: none;
    list-style: none;
    font-size: 15px;
    padding: 10px;
}

.subMenuElements:hover{
    background-color: #828c96;
    color: black;
    font-weight: bold;
}

.submenu{
    display: none;
}

.menu-collapsed .menu-items .icon{
    width: var(--width-collapsed);
    padding: 5px;
    margin-top: 20PX;
    margin-bottom: 20PX;
    cursor: pointer;
}



.menu-collapsed:hover .menu-items .icon {
    width: 50px;
    padding: 5px;
    margin: 10PX;
}

.menu-collapsed:hover .menu-items .item a .title {
      display: inline-block;
      font-family: var(--second-font-family);
      font-size: 17px;
}

.menu-collapsed:hover .menu-items .item{
    cursor: pointer;
}


.menu-collapsed:hover .menu-items .item .btn-submenu .title {
    display: inline-block;
    cursor: pointer;
    font-family: var(--second-font-family);
    font-size: 16px;
}


.menu-collapsed:hover .menu-items{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.menu-collapsed:hover .menu-items .item{
    display: flex;
}


.menu-collapsed:hover .menu-items .item a{
    display: flex;
    width: 400px;
    align-items: center;
}

.menu-collapsed:hover .menu-items .item .btn-submenu{
    display: flex;
    width: 400px;
     align-items: center;
}

.menu-collapsed {
    box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);


}

.menu-collapsed:hover{
    box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);


}


.cantidadProductosCard{
    font-size: 400px;

}

.menu-collapsed .cantidadProductosCard{
    font-size: 20px;
    margin-top: 10PX;
    margin-bottom: 0px;
    
}    

.menu-collapsed:hover .cantidadProductosCard{
    font-size:25px ;
}



.menu-collapsed:hover  .img-header{
    width: 50px;
    margin-top: 20PX;
    margin-bottom: 20PX;
    margin-left: 20px;
}

.menu-collapsed .img-header{
    width: 30px;
    margin-top: 20PX;
    margin-bottom: 20PX;

}

.menu-collapsed:hover .header{
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    text-align: end;
}


.menu-collapsed .header p{
    display: none;
}




.menu-collapsed:hover .header p{
    display: inline;
    font-size: 17px;
    margin-left: 15;
    font-weight: bold;
}


.menu-collapsed:hover .img-cardWidget{
    width: 50px;
}