

.bnt-decrement{
    width: 55px;
    border-radius: 50px;
    margin-right: 15px;
    margin-left: 15px;


}

.bnt-increment{
    width: 60px;
    border-radius: 50px;
    margin-right: 15px;
    margin-left: 15px;

}



.bnt-reset{
    border-radius: 50px;
    margin-right: 15px;
    margin-left: 15px;

}



.bnt-increment:hover{
    background: #343434;
    color: white;
}

.bnt-decrement:hover{
    background: #343434;
    color: white;
}

.bnt-reset:hover{
    background: #343434;
    color: white;
}